.aside {
    width: 20rem;
}

.main {
    width: 100%;
}

.list-group-item {
    border: transparent !important;
    border-left-width: 4px !important;
}

.list-group-item.active {
    background-color: transparent;
    border-style: solid !important;
    color: #007bff;
    border-left-color: #007bff !important;
}

.card-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.line-chart {
    height: 15rem;
}

.visitor-chart {
    height: 17rem;
}

@media screen and (max-width: 768px) {
    .aside {
        position: fixed;
        top: 0;
        left: -100%;
        transition: 0.5s;
        height: 100vh;
        background: #fff;
        z-index: 1041;
    }
    .aside-body {
        position: relative !important;
    }
    .aside.show {
        left: 0%;
    }
}